Docutils
Mercurial
freetype-py
Numpy
Ipython
Jinja2
Markupsafe
Matplotlib
Numexpr
Openpyxl
Pandas
Pycrsltd
Pygments
Pylint
Pyopengl
Pyparsing
Pyreadline
Python-dateutil
Pytz
Pyzmq
Scikit-learn
Six
Spyder
Cython
Tornado
simplejson
poster
requests
mysql-connector-python
unidecode
Pillow
beautifulsoup4
